html, body {
  height: 100%;
  margin: 0;              
}
body {
  display: grid;          
  place-items: center;    /* centro horizontal + vertical */
  background: #e185c7;  
  color: rgb(241, 223, 61);     
}

@font-face{
  font-family: "arcade";
  src: url("assets/ARCADE_N.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1{
  font-family: arcade;
  font-size: 30px;
}

canvas {
   
  border-radius: 5%;
  border: rgb(241, 223, 61) solid 15px;
  display: block;     
}
